<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Girls Go IT - Wiki</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/syntax/default.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/index.html">
            <h1 class="header">GirlsGoIT</h1>
        </a>
        <p class="header"></p>
        <div id="sidenav" class="left-menu">

            <div class="link-category">
                FRONTEND
            </div>
            <ul>
                {% for p in site.pages %}
                {% if p.url contains "tutorials/frontend" %}
                <li>
                    <a {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div class="link-category">
                BACKEND
            </div>
            <ul>
                {% for p in site.pages %}
                {% if p.url contains "tutorials/backend" %}
                <li>
                    <a {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div class="link-category">
                ROBOTICA
            </div>
            <ul>
                {% for p in site.pages %}
                {% if p.url contains "tutorials/robotica" %}
                <li>
                    <a {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div class="link-category">
                ARHIVA
            </div>
            <ul>
                {% for p in site.pages %}
                {% if p.url contains "tutorials/archive" %}
                <li>
                    <a {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </header>
    {% include side.html %}
    <section>
